<div class="menu">
  <div class="top-row">
    <img class="logo" src="http://hackathon.valtech.fr/images/logo-valtech-white.png" alt="">
  </div>
  <nav class="navigation">
    <ul>
      <li>
        <a routerLink="/dashboard/insights" routerLinkActive="active">Insights</a>
        <a routerLink="/dashboard/overplanned" routerLinkActive="active">Overplanned expertises</a>
        <a routerLink="/dashboard/expertise-finder" routerLinkActive="active">Expertise Finder</a>
      </li>
    </ul>
  </nav>
</div>