* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f3f3f3;
}

.title {
  margin-bottom: 15px;
  color: #292929;
}

.card {
  box-shadow: 0 1px 1px rgba(0,0,0,.15);
  background: #fff;
  margin-bottom: 30px;
  padding: 30px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: inline-block;
  width: calc(100% - 435px);
  margin-left: 30px;
  vertical-align: top;
}

aside {
  width: 400px;
  display: inline-block;
  vertical-align: top;
}

main {
  padding: 30px;
  margin-top: 78px;
}

.button {
  color: #fff;
  -webkit-appearance: none;
  appearance: none;
  padding: 10px 15px;
  outline: none;
  background: rgba(26,26,26,.8);
  position: relative;
	font-size: 14px;
	color: #FFF;
	text-decoration: none;	
  border-top: none;
  border-left: none;
  border-right: none;
	border-bottom: 5px solid rgba(26,26,26,.8);
  font-weight: bold;
  transition: all 0.1s;
	-webkit-transition: all 0.1s;
  margin-bottom: 15px;
  margin-right: 10px;
}

.button:hover {
  cursor: pointer;
	transform: translate(0px,1px);
  -webkit-transform: translate(0px,1px);
	border-bottom: 3px solid rgba(26,26,26,.8);
  margin-bottom: 17px;
}


.button:active {
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
  margin-bottom: 19px;
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   overflow: hidden;
   width: 100%;
   border: 1px solid rgba(26,26,26,.8);
   margin-bottom: 15px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px;
   width: 100%;
   -webkit-appearance: none;
   appearance: none;
}

.spinner {
  margin: 0 15px;
  position: relative;
  top: 5px;
  width: 70px;
  display: inline-block;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/*
main {
  width: 100%;
  padding: 30px 30px 0 330px;
  background-color: #edecec;
  min-height: 100vh;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 15px;
}*/